// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Fonts Custom

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Custom css
@import "custom";
